<launch>

    <node pkg="stage_ros" name="stageros" type="stageros" args="$(find beginner_tutorials)/world/world2.world" output="screen"/>
    <!--
    <node pkg="beginner_tutorials" name="robot_0" type="move.py" args="0" output="screen" />
    <node pkg="beginner_tutorials" name="robot_1" type="move.py" args="1" output="screen" />
    -->
    <node pkg="beginner_tutorials" name="robot_0" type="scanenv2.py" args="0" output="screen" />
    <node pkg="beginner_tutorials" name="robot_1" type="scanenv2.py" args="1" output="screen" />

    </launch>